.form-header {
  border-radius: 45%;
  height: 3rem;
  background-color: #372772;
  width: 20rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-size: 200%;
}

.form-selections {
  margin-bottom: 10rem;
}


.topic-title {
  border-radius: 45%;
  height: 2rem;
  width: 11rem;
  background-color: #94c595;
}

.topic-dropdown {
  font-weight: bold;
  width: 10rem;
}

.difficulty-title {
  width: 14rem;
  border-radius: 45%;
  height: 2rem;
  color: #747c92;
  background-color: #3a2449;

}

.difficulty-dropdown {
  width: 1em;
  font-weight: bold;
 
}

.numQuestions-title {
  background-color: #a1e8af;
  width: 15rem;
  border-radius: 45%;
  height: 2rem;

}

.numQuestions-dropdown {
  font-weight: bold;

}

.form-nav {

}

.trivia-selection {
  font-weight: bold;
  color: black;
  background-color: rgb(161, 232, 175);
  padding: 1rem;
}

.saved-questions {
  font-weight: bold;
  color: #747c92;
  background-color: rgb(55, 39, 144);
  padding: 1rem;
}

.quiz {
  font-weight: bold;
  color: black;
  background-color: #94c595;
  padding: 1rem;
}


