.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.question {
  margin-left: 15rem;
}

.question-number {
  margin-left: 35rem;
}

.load-message {
  margin-left: 7rem;
  margin-top: 5rem;
}

.message {
  margin-left: 27rem;
  margin-top: 5rem;
}

.form {
  color: black;
  font-weight: bold;
  background-color: #94c595;
  padding: 1rem;
}

.nav-bar {
  margin-left: 23rem;
  margin-top: 5rem;
}

.save {
  font-weight: bold;
  color: black;
  background-color: #13265722;
  padding: 1rem;
}

.results {
  font-weight: bold;
  color: black;
  background-color: #372772;
  padding: 1rem;
}
