.card-button {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  border-radius: 10%;
  background-color: #3a2449;
  font-weight: bold;
  color: #747c92;
}
